@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-text: #1E1D1C;
    --color-background: #FAFAF9;
    --color-surface: #F2F1EE;
    --color-lightsurface: #FCFBFB;
    --color-border: #DDDBD6;
    --font-sans: "National Park", sans-serif;
}


@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

.slideDown {
    animation: slideDown 0.3s ease-out;
}

@keyframes wrongAnswerShake {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-8px); }
    40% { transform: translateX(8px); }
    60% { transform: translateX(-6px); }
    80% { transform: translateX(6px); }
}

.wrongAnswerShake {
    animation: wrongAnswerShake 0.5s ease-in-out;
}

::highlight(green-highlight) {
    background-color: #AEEADE;
}

::highlight(yellow-highlight) {
    background-color: #FCF6B3;
}

::highlight(blue-highlight) {
    background-color: #B3D5ED;
}