@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-text: #1E1D1C;
    --color-background: #FAFAF9;
    --color-surface: #F2F1EE;
    --color-border: #DDDBD6;
    --font-sans: "National Park", sans-serif;
}


:root {

}